.progress-bar {
  width: 100%;
}

.progress-bar-track {
  width: 100%;
  height: 0.5rem;
  background-color: var(--figma-color-bg-secondary);
  border-radius: 999px;
  overflow: hidden;
}

.progress-bar-fill {
  height: 100%;
  background-color: var(--figma-color-bg-brand);
  border-radius: 999px;
  transition: width 1s ease-out;
}
