.footer {
  padding: 0.35rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.version-title {
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.version-text {
  font-size: 0.75rem;
  color: var(--figma-color-text-secondary);
}
